*{
     margin:0;
     padding:0;
}
body {
     background: #F2EFED;
     width: 100%;
}
.colorAstralWeb{
     color:#3E8A2E;
}
.textSize{
     font-size: 1.4rem;
}
.textSize2{
     font-size: 1.4rem;
}

.backgroundImage{
background-image: url(./images/femme-sourire-entreprise-travail.jpg);
background-size: 100%;
background-repeat: no-repeat;


}

.feature{
     background:rgba(0,0,0,0.6);
}

.backgroundColorButton {
     background-color: #3E8A2E;
}

.footer{
     height: 400px;
}

@media (max-width: 1111px) { 
.textSize2{
     font-size: 1rem;
}
 }